@charset "utf-8";

html,body,a {
  cursor: auto; 
}

body {
  color: #4a4a4a;
}

.profile-section-title {
  font-size: 18px;
  font-weight: 500;
}
/* --------------------------
        header
-----------------------------*/

header {
  background-color:rgba(255,255,255,0.8);
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title h1 {
  font-size: 16px;
  color: #854C60;
  line-height: 1.6;
  font-weight: 600;
}

.header-subtitle {
  font-size: 14px;
  color: #854C60;
  line-height: 1.6;
  margin-top: 8px;
}

.header-title h1,
.header-subtitle {
  transition: color .3s;
}

.header-title a:hover h1,
.header-title a:hover .header-subtitle {
  color: #e5aab4;
}

/* --------------------------
        profile
-----------------------------*/

main {
  padding-top: 100px;
}

.profile-contents {
  padding: 80px 0;
}

.profile-photo {
  width: 50%;
  position: relative;
  z-index: 2;
}

.profile-text {
  background-color: rgba(240, 206, 211, 0.2);
  transform: translateX(-16px) translateY(-64px);
  padding: 128px 16px 80px 16px;
}

.profile-text > div + div {
  margin-top: 32px;
}

.profile-text h3 {
  margin-bottom: 64px;
  padding-left: 16px;
}

.profile-details {
  display: flex;
  position: relative;
}

.profile-details::after {
  content: '';
  position: absolute;
  top: 48px;
  left: 20px;
  height: calc(100% - 8px);
  width: 2px;
  background-color: rgba(193, 205, 117, 1);
}

.profile-details:last-child::after {
  display: none;
}

.profile-text-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(193, 205, 117, 1);
  text-align: center;
  margin-top: 8px;
  position: relative;
  z-index: 2;
}

.profile-text i {
  font-size: 24px;
  color: #fff;
  line-height: 40px;
  z-index: 2;
}

.profile-details p {
  flex: 1;
  margin-left: 16px;
}

/* --------------------------
        strength
-----------------------------*/

.strength-contents,
.questionnaire-contents {
  padding: 80px 0;
}

.strength-contents h3,
.questionnaire-contents h3 {
  margin-bottom: 64px;
}

.strength-lists li + li {
  margin-top: 64px;
}

.strength-lists img {
  border-radius: 16px;
}

.strength-lists h4 { 
  margin-top: 24px;
}

.strength-number {
  font-size: 18px;
  font-weight: 500;
  margin-right: 16px;
}

.strength-list-underline {
  font-size: 18px;
  font-weight: 500;
  background:linear-gradient(transparent 70%, #e5aab4 0%);
}

.strength-lists p {
  margin-top: 16px;
}

/* --------------------------
        questionnaire
-----------------------------*/

dl > div {
  border: 1px solid #4a4a4a;
  padding: 16px 8px;
}

dl > div + div {
  margin-top: 32px;
}

dt {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-left: 8px;
}

dd {
  display: flex;
  background-color: #f0f0f0;
  padding: 16px 8px;
  align-items: center;
  margin-top: 16px;
  display: none;
}

.question-mark,
.answer-mark {
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 16px;
}

.question-mark {
  color: #fff;
  background-color: rgb(193, 205, 117);
}

.answer-mark {
  color: rgb(193, 205, 117);
  background-color: #fff;
}

dt > p {
  font-size: 16px;
  flex: 1;
  line-height: 1.6;
}

.plus {
  font-size: 24px;
  color: #4a4a4a;
  margin-left: 16px;
  margin-right: 16px;
  transition: transform .3s;
}

dd > p {
  font-size: 14px;
  flex: 1;
} 

dl > div.appear dd {
  display: flex;
  animation: .3s fadeIn;
}

dl > div.appear .plus {
  transform: rotate(45deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* --------------------------
        レスポンシブ
-----------------------------*/
/* medium screen */
@media (min-width: 600px) {
  
  .profile-section-title {
    font-size: 20px;
  }

  .profile-text > div + div {
    margin-top: 64px;
  }

  .profile-text {
    padding: 104px 32px 104px 32px;
  }

  .profile-text-icon {
    width: 60px;
    height: 60px;
    margin-top: 8px;
  }

  .profile-text i {
    font-size: 32px;
    line-height: 60px;
  }

  .profile-details::after {
    top: 68px;
    left: 30px;
    height: calc(100% + 8px);
  }

  .strength-contents,
  .questionnaire-contents {
    padding: 120px 0;
  }

  .strength-lists li + li {
    margin-top: 104px;
  }

  dl > div {
    padding: 24px 16px;
  }

  .question-mark,
  .answer-mark {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  dt > p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  dd > p {
    font-size: 16px;
  } 

}

/* large screen */
@media (min-width: 880px) {
  .profile-contents {
    padding: 120px 0;
  }
  
  .profile-photo {
    width: calc(100% / 3);
    margin-left: auto;
  }

  .profile-text {
    width: 80%;
    transform: translateX(0) translateY(-64px);
    position: relative;
  }
  
  .profile-text h3 {
    position: absolute;
    top: -13.5px;
    left: calc(50% - 45px);
  }

  .profile-details::after {
    top: 38px;
    left: 30px;
    transform-origin: top;
  }

  .profile-details:nth-child(odd) {
    margin-left: 144px;
  }

  .profile-details:nth-child(even)::after {
    height: calc(100% + 90px);
    transform: rotate(-42deg);
  }
  .profile-details:nth-child(6)::after {
    height: calc(100% + 90px);
    transform: rotate(-30deg);
  }

  .profile-details:nth-child(6) > p {
    margin-left: 56px;
  }

  .profile-details:nth-child(3)::after {
    height: calc(100% + 80px);
    transform: rotate(30deg);
  }
  .profile-details:nth-child(5)::after {
    height: calc(100% + 88px);
    transform: rotate(35deg);
  }
  .profile-details:nth-child(7)::after {
    height: calc(100% + 80px);
    transform: rotate(25deg);
  }

  .strength-lists li {
    display: flex;
    align-items: flex-start;
  }

  .strength-lists img {
    width: 30%;
  }

  .strength-list-text {
    margin-left: 48px;
  }
  
  .strength-lists h4 { 
    margin-top: 0;
  }
  
  .strength-number {
    font-size: 20px;
    margin-right: 48px;
  }
  
  .strength-list-underline {
    font-size: 20px;
  }
  
  .strength-lists p {
    margin-top: 24px;
    margin-left: 70.88px;
  }
}

/* .header-navの表示 */
@media (min-width: 1020px) {


}
  

