@charset "utf-8";

/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

html {
  height: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: calc(100% - 16px * 2);
  max-width: 800px;
  outline: 1px solid green;
}

section {
  /* padding-top: 80px;
  padding-bottom: 80px; */
  width: 100%;
}

p {
  line-height: 2.7;
}

.title {
  font-family: 'Trispace', sans-serif;
}

.section-title {
  font-size: 18px;
  color:#87755E;
  font-weight: 500;
  position: absolute;
  top: calc(50% - 10px);
  left: 24px;
  /* margin: 0 auto;
  max-width: 800px; */
}

.button {
  width: 112px;
  height: 40px;
  display: block;
  font-family: 'Zen Maru Gothic', sans-serif; 
  line-height: 38px;
  text-align: center;
  border-radius: 16px;
  transition: all .3s;
}

.link-btn {
  background-color: #854C60;
  color: #fff;
  
  border: 1px solid #854C60;
}

.link-btn:hover {
  background-color: #fff;
  color: #854C60;
}

/*========= CanvasレイアウトのためのCSS ===============*/
.contents {
  padding:300px 0;
  text-align:center;
  outline: 1px solid green;
}
/*========= waveを描画するエリア設定 ===============*/
.wave{
  width: 100%;
  height: 200px;
  position: relative;
}

.wave canvas{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
}



/* --------------------------
        header
-----------------------------*/

header {
  width: 100%;
  height: 100px;
  position: fixed;
  /* background-color: rgba(255,255,255,0.8); */
  z-index: 10;
  display: flex;
  align-items: center;
  /* outline: 1px solid red; */
}

/* ハンバーガーメニュー（閉じている時） */
.hamburger {
  /* position: absolute;
  top: 0;
  left: 0; */
  cursor: pointer;
  z-index: 30;
  width: 30px;
  margin-left: auto;
  /* margin-top: 2px; */
}

.hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #C1CD75;
  transition: all .3s;
}

.hamburger span + span {
  margin-top: 7px;
}

/* --------------------------
        hero
-----------------------------*/

.hero {
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  outline: 1px solid red;
}

.hero-bg {
  height: 100%;
  width: 80%;
  background: url("../img/hero-bg.jpg");
  background-size: cover;
  /* background-size: contain; */
background-repeat: no-repeat;
background-position: 40% center;
border-top-right-radius: 60% 50%;
border-bottom-right-radius: 60% 50%;
animation: hero-img 7s forwards;
}

.hero-bg::after{
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.2;
}

@keyframes hero-img {
  from {
    border-top-right-radius: 60% 50%;
    border-bottom-right-radius: 60% 50%;
    transform: scale(1);
    width: 80%;
  }

  to {
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
    transform: scale(1.1);
    width: 85%;
  }
}

.hero .container {
  position: absolute;
  top: 0;
  left: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.site-title {
  margin-left: 8px;
  margin-top: 180px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transform: translateX(-100%);
  animation: site-title 4s forwards 1s;
}

.site-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #87755E;
  margin-bottom: 80px;
  text-shadow: 1px 1px 1px #fff;
  margin-left: 30%;
  opacity: 0;
  transform: translateY(100%);
  animation: site-subtitle 3s forwards 2s;
}

@keyframes site-title {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  70% {
    opacity: 0.7;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes site-subtitle {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  70% {
    opacity: 0.7;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll {
  display: block;
  color: #87755E;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: 16px;
  transform: translateY(-190px) rotate(90deg);
}

.scroll::after {
  content:'';
  position: absolute;
  width: 88px;
  height: 2px;
  /* background: linear-gradient(to right,#87755E, #fff); */
  background-color: #87755E;
  top: calc(50% - 1px);
  left: 54px;
  /* right: 16px; */
  /* animation: scroll 2s infinite; */
}

/* @keyframes scroll {
  from {
    background: linear-gradient(to right,#87755E, #fff);
  }

  50% {
    background: linear-gradient(to right,#fff, #87755E);

  }

  to {
    background: linear-gradient(to right,#87755E, #fff);
  }
} */

/* --------------------------
        about
-----------------------------*/
.about-contents {
  width: 100%;
  background: linear-gradient(#fff, #E5AAB4);
}

#about .container {
  margin-top: 88px;
}

.about-photos img {
  border-radius: 16px;
  display: block;
  position: relative;
  /* width: 100%; */
}

.about-profile-photo {
  width: 65%;
  margin-left: auto;
  z-index: 4;
}

.letter {
  width: 50%;
  transform: translateY(-64px);
  z-index: 3;
}

.about-text {
  padding: 104px 16px 64px 16px;
  width: 85%;
  border-radius: 0 16px 16px 0;
  background-color: #fff;
  transform: translateX(-16px) translateY(-88px);
  position: relative;
  z-index: 2;
}

.about-profile {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #854C60;
}

.about-details {
  margin-top: 40px;
  color: #87755E;
}

.about-text .link-btn {
  transform: translateY(84px);
  margin: 0 auto;
}

.fujiwara-btn {
  background-color: #87755E;
  color: #fff;
  margin: 32px auto;
  border: 1px solid #87755E;
}

.fujiwara-btn:hover {
  background-color: #fff;
  color: #87755E;
}

.gradient-bg {
  width: 100%;
  height: 16px;
  background: linear-gradient(#E5AAB4, #fff);
}

/* --------------------------
        skills
-----------------------------*/
.skills-contents {
  color: #87755E;
  background: url("../img/skills-bg.jpg");
  background-size: cover;
  width: 100%;
}

.skills-contents .container {
  padding-top: 88px;
  padding-bottom: 88px;
}

.skills-contents li {
  display: flex;
  align-items: center;
}

.skills-contents li + li {
  margin-top: 24px;
}

.skills-contents p {
  margin-left: 16px;
}

.skills-contents i {
  font-size: 30px;
}

.skills-web,
.skills-others {
  width: 80%;
  border: 2px solid #87755E;
  padding: 40px 16px;
  background-color: #fff;
}

.skills-web {
  border-left: none;
  border-radius: 0 16px 16px 0;
  transform: translateX(-16px);
  position: relative;
  z-index: 4;
}

.skills-others {
  margin-left: auto;
  border-right: none;
  border-radius: 16px 0 0 16px;
  transform: translateX(16px) translateY(-32px);
}

.skills-btns {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 48px;
  
}



